* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
span, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Jost", sans-serif;
  vertical-align: baseline;
}
button{
  cursor: pointer;
}

a{
  font-family: "Jost", sans-serif;
  cursor: pointer;
  color: #000;
}
a:hover{
  color: var(--red-color);
}