@media (max-width: 430px) {
  .nav-container {
    max-width: 100%;
    width: 100%;
  }
  .px-20-mobile {
    padding: 0 20px;
  }
  .banner-text {
    width: 70%;
  }
}

/* Extra small devices (phones, 600px and down) mobile */

@media only screen and (max-width: 600px) {
  /* CSS rules for extra small devices */

  .w-30-l {
    width: 30%;
  }
  .gap-0-mobile {
    gap: 0;
  }
  .gap-10-m {
    gap: 10px;
  }
  .gap-15-m {
    gap: 15px;
  }
  .gap-20-mobile {
    gap: 20px;
  }
  .fs-30-mobile {
    font-size: 30px;
  }
  .fs-36-mobile {
    font-size: 36px;
  }
  .fs-22-sm {
    font-size: 22px;
  }
  .fs-42-m {
    font-size: 40px;
  }
  .mb-15-mobile {
    margin-bottom: 15px;
  }
  .mb-20-mobile {
    margin-bottom: 20px;
  }
  .mb-25-mobile {
    margin-bottom: 25px;
  }
  .mb-60-mobile {
    margin-bottom: 60px;
  }
  .mb-105-mobile {
    margin-bottom: 105px;
  }
  .px-20-mobile {
    padding: 0 20px;
  }
  .px-40-m {
    padding: 0 20px;
  }
  .py-5-mobile {
    padding: 5px 0;
  }
  .pt-15-mobile {
    padding-top: 15px;
  }
  .notification {
    display: none;
  }
  .navbar-wrapper {
    display: block;
  }
  .header-bottom-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-top,
  .header-bottom-center {
    display: none;
  }
  .header-bottom-right-item {
    align-items: center;
  }
  .header-bottom-right-item img {
    top: 2px;
    width: 18px;
    height: 18px;
  }
  .hidden-M {
    display: none;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }
  .nav-container,
  .nav-container-submenu-home,
  .nav-container-submenu-shop,
  .nav-container-submenu-shop-shoplayout {
    max-width: 100%;
    width: 100%;
    left: -100%;
  }
  .minicart {
    max-width: 100%;
    width: 100%;
    right: -100%;
  }
  .banner-container .banner-big {
    height: 550px;
    object-fit: cover;
  }
  .banner-text {
    width: 65%;
    text-align: start;
    left: 36%;
  }
  .banner-text .button button {
    width: 180px;
  }
  .banner-button {
    display: none;
  }
  .feature-image {
    display: none;
  }
  .feature-image-mobile {
    display: flex;
  }

  .trending-container .trending-text .button-list {
    display: none;
  }
  .trending-text.title.text-mobile {
    display: block;
  }
  .button-list-mobile {
    display: flex;
  }
  .product-item .list-button {
    display: flex;
  }
  .product-list-wrapper {
    display: none;
  }
  .product-list-wrapper-mobile {
    width: 100%;

    display: block;
  }
  .product-item .label .item .percent {
    width: 45px;
  }
  .product-item .label .item .pre-order {
    width: 65px;
  }
  .product-item .image-product {
    border-radius: 10px;
  }
  .big-banner-container {
    width: auto;
    overflow-x: scroll;
  }
  .big-banner-container .big-banner-item {
    flex: 0 0 66%;
  }
  .big-banner-container .big-banner-item img {
    width: 100%;
    border-radius: 10px;
  }
  .big-banner-item .text-container {
    bottom: 30px;
    left: 30px;
  }

  .customerSay-list-wrapper {
    display: none;
  }
  .customerSay-list-wrapper-mobile {
    display: flex;
    width: calc(100%-40px);
    height: 100%;
  }
  .customerSay-list-wrapper-mobile .swiper-slide {
    width: 100%;
  }
  .instagramShop-container .image-list .image-item {
    width: calc(100% / 2);
  }
  .instagramShop-container .image-list .image-item:nth-child(3),
  .instagramShop-container .image-list .image-item:nth-child(4),
  .instagramShop-container .image-list .image-item:nth-child(5),
  .instagramShop-container .image-list .image-item:nth-child(6) {
    display: none;
  }
  .footer-about {
    display: none;
  }

  .footer-about-mobile {
    display: block;
  }
  .footer-copyright {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 105px;
    margin-top: 30px;
  }
  .footer-copyright-item:nth-child(3) {
    margin: auto;
  }
  .button-fixed-mobile {
    display: block;
  }
  .menu-bottom-mobile {
    display: flex;
  }
  .minicart {
    right: -430px;
    max-width: 430px;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) SM*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* CSS rules for small devices */
  .mb-20-mobile {
    margin-bottom: 20px;
  }
  .w-30-l {
    width: 30%;
  }
  .gap-10-m {
    gap: 10px;
  }
  .gap-15-m {
    gap: 15px;
  }
  .fs-20-sm {
    font-size: 20px;
  }
  .fs-24-sm {
    font-size: 24px;
  }
  .fs-42-m {
    font-size: 42px;
  }
  .px-40-m {
    padding: 0 20px;
  }
  .mb-70-sm {
    margin-bottom: 70px;
  }
  .navbar-wrapper {
    display: block;
  }
  .header-bottom-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-top,
  .header-bottom-center {
    display: none;
  }
  .hidden-M {
    display: none;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }

  .banner-container .banner-big {
    height: 450px;
    object-fit: cover;
  }
  .banner-text {
    width: 40%;
  }
  .banner-text .button button {
    width: 150px;
  }
  .feature-image {
    display: none;
  }
  .feature-image-mobile {
    display: flex;
  }
  .feature-image-mobile .item-long {
    height: 400px;
  }
  .feature-image-mobile .item-short {
    height: 200px;
  }
  .trending-container .trending-text .button-list {
    display: none;
  }
  .trending-text.title.text-mobile {
    display: block;
  }
  .button-list-mobile {
    display: flex;
  }
  .product-item .list-button {
    display: flex;
  }
  .product-list-wrapper {
    display: none;
  }
  .product-list-wrapper-mobile {
    width: 100%;
    display: block;
  }
  .product-item .label .item .percent {
    width: 45px;
  }
  .product-item .label .item .pre-order {
    width: 65px;
  }

  .product-item .image-product {
    border-radius: 10px;
  }
  .big-banner-container {
    width: auto;
    overflow: hidden;
  }
  .big-banner-container .big-banner-item {
    flex: 0 0 66%;
  }
  .big-banner-container .big-banner-item img {
    width: 100%;
    border-radius: 10px;
  }

  .big-banner-item .text-container {
    bottom: 30px;
    left: 30px;
  }
  .feature-image-item-long .button {
    bottom: 20px;
  }
  .feature-image-item-short .button {
    bottom: 20px;
  }
  .customerSay-list-wrapper {
    display: none;
  }
  .customerSay-list-wrapper-mobile {
    display: flex;
    width: calc(100%-40px);
    height: 100%;
  }
  .customerSay-item {
    padding: 10px;
  }
  .instagramShop-container .image-list .image-item {
    width: calc(100% / 3);
  }
  .instagramShop-container .image-list .image-item:nth-child(4),
  .instagramShop-container .image-list .image-item:nth-child(5),
  .instagramShop-container .image-list .image-item:nth-child(6) {
    display: none;
  }
  .footer-about {
    display: none;
  }
  .footer-about-mobile {
    display: block;
  }
  .footer-about {
    display: none;
  }
  .footer-copyright {
    flex-wrap: wrap;
  }
  .footer-copyright-item:nth-child(3) {
    margin: auto;
  }
  .button-fixed-mobile {
    display: block;
  }
  .menu-bottom-mobile {
    display: flex;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up)  M*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS rules for medium devices */
  .mb-20-m {
    margin-bottom: 20px;
  }
  .w-30-l {
    width: 30%;
  }
  .gap-10-m {
    gap: 10px;
  }
  .gap-15-m {
    gap: 15px;
  }
  .gap-20-m {
    gap: 20px;
  }
  .fs-24-l {
    font-size: 24px;
  }
  .fs-42-m {
    font-size: 42px;
  }
  .px-40-m {
    padding: 0 20px;
  }

  .navbar-wrapper {
    display: block;
  }
  .header-bottom-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-top,
  .header-bottom-center {
    display: none;
  }
  .hidden-M {
    display: none;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }
  .banner-container .banner-big {
    height: calc(100vh - 110px);
    object-fit: cover;
  }
  .banner-text .button button {
    width: 150px;
  }
  .feature-image-item-long {
    width: 33%;
    height: 450px;
  }
  .feature-image-item-short {
    width: 100%;
    height: 210px;
    flex-grow: 1;
  }

  .trending-container .trending-text .button-list {
    display: none;
  }
  .trending-text.title.text-mobile {
    display: block;
  }
  .button-list-mobile {
    display: flex;
  }
  .product-item .list-button {
    display: flex;
  }
  .product-list-wrapper {
    display: none;
  }
  .product-list-wrapper-mobile {
    width: 100%;
    display: block;
  }

  .big-banner-container .big-banner-item img {
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
  }
  .big-banner-container .big-banner-item:hover img {
    transform: scale(1);
  }
  .big-banner-item .text-container {
    bottom: 25px;
    left: 25px;
  }
  .feature-image-item-long .button {
    bottom: 30px;
  }
  .feature-image-item-short .button {
    bottom: 30px;
  }
  .customerSay-list-wrapper {
    display: none;
  }
  .customerSay-list-wrapper-mobile {
    display: flex;
    width: calc(100%-40px);
    height: 100%;
  }
  .customerSay-item {
    padding: 20px;
  }
  .instagramShop-container .image-list .image-item {
    width: calc(100% / 3);
  }
  .instagramShop-container .image-list .image-item:nth-child(4),
  .instagramShop-container .image-list .image-item:nth-child(5),
  .instagramShop-container .image-list .image-item:nth-child(6) {
    display: none;
  }
  .footer-about {
    display: none;
  }
  .footer-about-mobile {
    display: block;
  }
  .footer-copyright {
    flex-wrap: wrap;
  }
  .footer-copyright-item:nth-child(3) {
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) L */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS rules for large devices */
  .w-30-l {
    width: 30%;
  }
  .fs-24-l {
    font-size: 24px;
  }
  .fs-50-l {
    font-size: 50px;
  }

  .px-50-l {
    padding: 0 50px;
  }

  .py-14-l {
    padding: 14px 0;
  }
  .mb-10-l {
    margin-bottom: 10px;
  }
  .mb-20-l {
    margin-bottom: 20px;
  }
  .navbar-wrapper {
    display: block;
  }
  .header-bottom-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-top,
  .header-bottom-center {
    display: none;
  }
  .hidden-M {
    display: none;
  }
  .checkout .button {
    display: flex;
    gap: 20px;
  }
  .banner-container .banner-big {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
  }
  .feature-image-item-long {
    width: 35%;
    height: 450px;
  }
  .feature-image-item-short {
    width: 100%;
    height: 210px;
    flex-grow: 1;
  }
  .big-banner-container .big-banner-item {
    height: 480px;
  }
  .big-banner-container .big-banner-item img {
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
  }

  .instagramShop-container .image-list .image-item {
    width: calc(100% / 4);
  }
  .instagramShop-container .image-list .image-item:nth-child(5),
  .instagramShop-container .image-list .image-item:nth-child(6) {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) XL */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .fs-70-xxl {
    font-size: 70px;
  }
  .px-80-xl {
    padding: 0 80px;
  }
  .py-20-xl {
    padding: 20px 0;
  }
  .banner-container .banner-big {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
  }

  .big-banner-container .big-banner-item img {
    object-fit: cover;
    border-radius: 10px;
  }
  .instagramShop-container .image-list .image-item {
    width: calc(100% / 4);
  }
  .instagramShop-container .image-list .image-item:nth-child(5),
  .instagramShop-container .image-list .image-item:nth-child(6) {
    display: none;
  }
}
/*Extra Extra large devices (large laptops and desktops, 1440px and up)  XXL*/
@media only screen and (min-width: 1440px) {
  .fs-70-xxl {
    font-size: 70px;
  }

  .m-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .banner-container .banner-big {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
  }
}
