
.header .notification {
  position: relative;
}
.header .notification .close-btn {
  position: absolute;
  top: 25px;
  right: 5px;
  transform: translate(-50%, -50%);
  opacity: 50%;
}

.hr-style {
  width: 100%;
  outline: none;
  border: 1px solid var(--hr-color);
}
.hr-banner {
  width: 45%;
  outline: none;
  border: 1px solid #111;
}
.hr-cart {
  width: 100%;
  border: none;
  border-top: 1px dotted #ebebeb;
}
/* }  contain a tag */
.header-bottom-center-item {
  position: relative;
}

.header-home-hover-modal {
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -30px;
  width: 250px;
  padding: 30px 0 30px 30px;
  display: none;
}
.header-home-hover-modal.show {
  display: flex;
}
.header-home-hover-modal span {
  position: absolute;
  padding: 4px 10px;
  text-align: center;
}
.header-shop-hover-modal {
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -50%;
  transform: translateX(-20%);
  width: 1047px;
  padding: 40px;
  display: none;
}
.header-shop-hover-modal.show {
  display: flex;
}
.header-shop-hover-modal .image-container {
  position: relative;
}
.header-shop-hover-modal .image-container button {
  position: absolute;
  bottom: 20px;
  width: 208px;
  height: 45px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
}
.header-bottom-right-item {
  position: relative;
}
.header-bottom-right-item img {
  cursor: pointer;
}
.icon-notice p {
  width: 20px;
  height: 20px;
  background-color: #ef262c;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -40%;
  left: 70%;
}

/* navbar menu */
.navbar-wrapper {
  display: none;
}
.nav-container {
  position: fixed;
  top: 0;
  left: -430px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 430px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  z-index: 1100;
  overflow-y: auto;
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}
.overlay2.show {
  display: block;
}
.active-header-navbar {
  opacity: 100%;
}

.nav-container .list-link .item {
  margin: 16px 0;
  cursor: pointer;
}
.nav-container .list-link .item p,
span {
  font-size: 16px;
  font-weight: 500;
}
.nav-container .list-link .item img {

  width: 17px;
  height: 17px;
}

.nav-container .list-link .item .list-icon .list-icon-item .container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.nav-container .list-link .item .list-icon .list-icon-item img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.nav-container.show {
  left: 0;
}
/* sub menu home*/
.nav-container-submenu-home,.nav-container-submenu-shop{
  position: fixed;
  top: 0;
  left: -430px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 430px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  z-index: 1200;
  overflow-y: auto;
}
.nav-container-submenu-home.header-nav,.nav-container-submenu-shop.header-nav, .nav-container-submenu-shop-shoplayout.header-nav{
  background: #F5F5F5;
}
.nav-container-submenu-home .list-link .item, .nav-container-submenu-shop .list-link .item, .nav-container-submenu-shop-shoplayout .list-link .item {
  margin: 16px 0;
  cursor: pointer;
}
.nav-container-submenu-home .list-link .item p,
span {
  font-size: 16px;
  font-weight: 500;
}
.nav-container-submenu-home .list-link .item img {
  width: 17px;
  height: 17px;
}
.nav-container-submenu-home .list-link button{
  width: 100%;
  height: 45px;
  border-radius: 30px;
  color: #fff;
  background: #000;
}

.nav-container-submenu-home.show {
  left: 0;
}

/* sub menu shop */
.nav-container-submenu-shop .list-link .item p,
span {
  font-size: 16px;
  font-weight: 500;
}

.nav-container-submenu-shop.show {
  left: 0;
}
.nav-container-submenu-shop .list-link .image-container .image-item{
  position: relative;
}
.nav-container-submenu-shop .list-link .image-container .image-item button {
  position: absolute;
  width: 268px;
  height: 50px;
  background: #fff;
  color:#000;
  border-radius:30px;
  border: none;
  left: 50%;
  bottom:30px;
  transform: translateX(-50%);
}
.nav-container-submenu-shop .list-link .image-container img {
  width: 100%;
  
}

/* sub shop shop layout */
.nav-container-submenu-shop-shoplayout{
  position: fixed;
  top: 0;
  left: -430px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 430px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1200;
}

.nav-container-submenu-shop-shoplayout.show{
  left:0;
}
/* mini-cart */

.minicart {
  position: fixed;
  top: 0;
  right: -450px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 100vh;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}
.minicart.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}

.overlay.show {
  display: block;
}
.minicart .minicart-top {
  flex-basis: auto;
}
.minicart .minicart-top .title {
  position: relative;
}
.minicart .minicart-top .title .close-btn {
  position: absolute;
  top: 22px;
  right: 30px;
  opacity: 50%;
  z-index: 1000;
  cursor: pointer;
}
.minicart-top .title .close-btn img {
  filter: brightness(0);
  width: 22px;
  height: 22px;
}
.minicart .free-ship-loading .loading-bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #dedede;
  margin-top: 33px;
}

.minicart .free-ship-loading .loading-bar .loading-progress {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background-color: #ef262c;

  /* animation: loading 2s linear infinite; */
}
@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
.minicart-bottom {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}
.list-item-cart {
  flex: 1;
  overflow: auto;
}
.checkout-button {
  flex-basis: auto;
}
.item .card .image {
  width: 84px;
  height: 113px;
}

.quantity-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.quantity-stepper button {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  outline: none;
  cursor: pointer;
}
.card .content .action img {
  width: 14px;
  height: 14px;
}
.list-icon img {
  width: 16px;
  height: 16px;
}

.list-icon img::after {
  content: "---";
  color: #ccc;
  margin-left: 30px;
}
.list-icon img:last-child::after {
  content: none;
}
.checkout .button button {
  width: 100%;
  height: 50px;
  border: 1px solid #111;
}

/* swiper */
.swiper-pagination-bullet-active{
background: #000;
}

.banner-container .banner-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.banner-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;

}
.banner-button-left {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  font-size: 18px;
}
.banner-button-right {
  background: #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  font-size: 18px;
}

.banner-button-left:hover, .banner-button-right:hover{
  background: #000;
  color:#fff
}
.dot-slider {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.banner-text .button button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  padding: 10px;
  background-color: black;
}
.feature-image-item-long {
  position: relative;
  width: 33%;
  height: 730px;
  background: #ecedef;
  border-radius: 10px;
  overflow: hidden;
}
.feature-image-item-long:hover  img{
  transform: scale(1.1);
}
.feature-image-item-long img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.feature-image-item-long .button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
}
.feature-image-item-long .button button {
  width: 160px;
  height: 50px;
  background-color: white;
  border: none;
  outline: none;
}
.feature-image-item{
  width: 33%;
}
.feature-image-item-short {
  position: relative;
  width: 100%;
  height: 350px;
  background: #ecedef;
  border-radius: 10px;
  overflow: hidden;
}
.feature-image-item-short .button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.feature-image-item-short .button button {
  width: 160px;
  height: 50px;
  background-color: white;
  border: none;
  outline: none;
}
.feature-image-item-short img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.feature-image-item-short:hover  img{
  transform: scale(1.1);
}

.feature-image-mobile {
  display: none;
}
.feature-image-mobile .item-long {
  position: relative;
  width: 100%;
  height: 300px;
  background: #ecedef;
  border-radius: 10px;
}
.feature-image-mobile .item-long img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.feature-image-mobile .item-long .button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feature-image-mobile .item-long .button button {
  width: 120px;
  height: 40px;
  background-color: white;
  border: none;
  outline: none;
}
.feature-image-mobile .item-short {
  position: relative;
  width: 100%;
  height: 144px;
  background: #ecedef;
  border-radius: 10px;
}
.feature-image-mobile .item-short .button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feature-image-mobile .item-short .button button {
  width: 120px;
  height: 40px;
  background-color: white;
  border: none;
  outline: none;
}
.feature-image-mobile .item-short img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.trending-container .button-list .button-item {
  padding: 7.5px 25px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.trending-container .text-mobile{
  display: none;
}
.button-list-mobile {
  display: none;
}
.button-list-mobile .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
}

.color-picker .container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.color-picker .item {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: none;
}
.product-list-wrapper-mobile{
  display: none;
}
.product-item {
  position: relative;
}
.product-item ~ img {
  height: 440px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.swiper {
  z-index: 1;
}


.product-item:hover .list-button {
  display: flex;
}
.product-item .list-button{
  position: absolute;
  display: none;
  flex-direction: column;
  top:10px;
  right: 10px;
  gap:5px;
}
.product-item .list-button .item{
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.product-item .image-product{
  width: 100%;
  border-radius: 10px;
}
.product-item .label {
  position: absolute;
  top: 2%;
  left: 3%;
}
.product-item .label .item .percent {
  height: 25px;
  width: 50px;
}
.product-item .label .item .pre-order {
  height: 25px;
  width: 75px;
}

.big-banner-container .big-banner-item img {
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}
.big-banner-item {
  position: relative;
}
.big-banner-item .text-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.customerSay-item {
  padding: 40px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.customerSay-item .image-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.instagramShop-container .image-list {
  overflow: hidden;
}
.instagramShop-container .image-list .image-item {
  width: calc(100%/6);
}
.instagramShop-container .image-list .image-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.instagramShop-container .image-list .image-item {
  position: relative;
}
.instagramShop-container .image-list .image-item .icon-cart {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #111;
  border-radius: 50%;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.instagramShop-container .image-list .image-item .icon-cart img {
  position: absolute;
  width: 14px;
  height: 14px;
  object-fit: cover;
  left: 25%;
  top: 20%;
}

.footer-about-item .logo img {
  width: 93px;
  height: 20px;
}

.footer-about-item .text-link .icon-heart-blue img {
  width: 36px;
  height: 36px;
}
.footer-about-item .text-link text .icon-shop {
  width: 36px;
  height: 36px;
}
.footer-about-item a {
  transition: transform 0.3s ease-in-out;

}

.footer-about-item a:hover  {
  transform: translateX(10px);
}

.footer-about-item .contact-form input {
  padding: 10px 20px;
  border: 1px solid #ebebeb;
  color: #999999;
  width: 230px;
  height: 50px;
}
.footer-about-item .contact-form button {
  padding: 10px;
  width: 150px;
  height: 50px;
}

/* footer-about-mobile */
.footer-about-mobile{
  display: none;
}
.footer-about-mobile-item .logo img {
  width: 93px;
  height: 20px;
}

.footer-about-mobile-item .contact-form input {
  padding: 10px 20px;
  border: 1px solid #ebebeb;
  color: #999999;
  width: 230px;
  height: 50px;
}
.footer-about-mobile-item .contact-form button {
  padding: 10px;
  width: 150px;
  height: 50px;
}
.footer-about-mobile-item .open-link{
  display: none;
  overflow: hidden;
}


/* footer-copyright */

.footer-copyright-item .image-container {
  border: 1px solid #dedede;
  height: 26px;
}

.button-fixed-mobile{
  display: none;
  z-index: 800;
}
.button-toTop-mobile{
  position: fixed;
  bottom:155px;

  right: 20px;
  width: 50px;
  height: 50px;
  background: #111;
  border-radius: 50%;
  
}
.button-message-mobile{
  position: fixed;
  bottom:85px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #26A66A;
  border-radius: 50%;
}


.menu-bottom-mobile {
  width: 100%;
  height: 75px;
  padding: 15px auto;
  position: fixed;
  bottom:0;
  background-color: #fff;
  display: none;
  z-index:800;
}
.menu-bottom-mobile .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px -29px 38px -3px rgba(0,0,0,0.1);
}
.menu-bottom-mobile .item .icon{
  position: relative;
}
.menu-bottom-mobile .item .icon .icon-notice{
  position: absolute;
  top:-10px;
  left:10px;
}


